.style {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    /* font-family : inherit; */
    border-collapse: collapse;
    width: 100%;
  }
  
  .style td, .style th {
    border: 1px solid #ddd;
    padding: 3px;
  }
  
  .style tr
  {background-color: #f2f2f2;}
  
  .style tr:hover 
  {background-color: #ddd;}
  
  .style th {
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    background-color: orchid;
    color: white;
  }
  
  input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .button-rem {
    width: 50%;
    padding: 12px 20px ;
    margin: 0  25% 0 ;  
    display: inline-block;
    border: 1px solid #ccc; 
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
  }

  table tr td:nth-child(7) {   
    background-color: rgb(178, 221, 176);
    font-weight: bold;
  }

 
  