<nav class='navbar navbar-expand navbar-light bg-light'>
  <img src="assets/COLORS.png" alt="Optimized Portfolios" style="height:70px;padding-right: 20px;">
    <ul class='nav'>
    <li><a class='nav-link' routerLinkActive='active' routerLink='/about'>About</a></li>
  </ul>
</nav>
<section class="u-align-left u-clearfix u-image u-section-1" src="" id="sec-f2a4" data-image-width="1920" data-image-height="800">
  <div class="u-clearfix u-sheet u-sheet-1">
    <div class="u-align-left u-container-style u-group u-shape-rectangle u-group-1">
      <div class="u-container-layout u-container-layout-1">
        <h2 class="u-text u-text-default u-title u-text-1">REBALANCE YOUR PORTFOLIO
        </h2>
        <p class="u-large-text u-text u-text-variant u-text-2"> The aim of optimizETF is to build a long-term portfolio of Exchanged Traded Funds (ETF) (e.g. investment funds that track indexes of bonds and/or stocks) optimized according to the modern portfolio theory.</p>
      </div>
    </div>
  </div>
</section>

  <div class="content" role="main">
    <!-- Select portfolio -->
    <h1>Your portfolio</h1>
    <h3>Select the assets of your portfolio:</h3>
  </div>
  <app-portfolio></app-portfolio>



  <!-- Footer -->
  <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-b0b9">
    <div class="u-clearfix u-sheet u-sheet-1">
      <p class="u-small-text u-text u-text-variant u-text-1">All rights are reserved</p>
      Like this project?&nbsp;
      <a href="https://github.com/angular/angular" target="_blank" rel="noopener"> Give our repo a star.</a>
    </div>
  </footer>







<router-outlet></router-outlet>